---
import { PROFILE_INFORMATION } from "../../../data/profileData";
import Card from "../../utility/Card.astro";
---

<div class="col-start-2 flex flex-col gap-3">
  <div class="flex flex-col gap-3">
    <p class="h-max text-4xl font-bold">SELECTED WORKS</p>
    <p class="font-light">
      Deliver clear, high-quality work that drives tangible results for the
      organization by aligning with the target audience.
    </p>
  </div>
  <div class="flex flex-wrap justify-between gap-13">
    {
      PROFILE_INFORMATION.map((project) => (
        <Card
          title={project.title}
          img={project.img}
          time={project.time}
          categorys={project.categorys}
          about={project.about}
        />
      ))
    }
  </div>
</div>
